<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PET Passport"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PP">
        <activity android:name=".DocVacc"></activity>
        <activity android:name=".FormVacc" />
        <activity android:name=".FormTests" />
        <activity android:name=".FormPres" />
        <activity android:name=".GenQR" />
        <activity android:name=".ViewPres" />
        <activity android:name=".ViewTest" />
        <activity android:name=".ViewVacc" />
        <activity android:name=".DocProfile" />
        <activity android:name=".DocHome" />
        <activity android:name=".PetDocView" />
        <activity android:name=".ScanQR" />
        <activity android:name=".MyPets" />
        <activity android:name=".MyProfile" />
        <activity android:name=".Homepage" />
        <activity android:name=".Pet_detail" />
        <activity android:name=".Add_pet" />
        <activity android:name=".Doc_reg" />
        <activity android:name=".user_reg" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>